.profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.user-profile {
    width: 40%;
    padding: 1% 5%;
    margin-bottom: 50px;
}

.user-profile-title {
    margin: 12px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(82, 82, 82);
}

.user-account {
    display: flex;
}

.user-account img{
    width: 90px;
    height: 90px;
    flex: 0.2;
}

.user-account-name {
    margin: 0;
}

.user-account-info {
    margin-left: 30px;
    flex: 0.75;
}

.logout-btn {
    border: 0;
    background-color: rgba(214, 13, 13, 0.605);
    color: #fff;
    font-size: 17px;
    width: 80%;
    border-radius: 2px;
    padding: 1px 0;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: rgba(214, 13, 13);
    transition: all 0.12s;
}

@media only screen and (max-width: 1000px) {
    .user-profile {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .user-profile {
        width: 80%;
    }
}